*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    height: 72px;
    background-color: aquamarine;
}
.container{
    height: 100%;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}
header .container{
    display:flex ;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#logowrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

#logo{
    width: 55px;
    height: 55px;
}
#logotext{
    font-size: 1.5rem;
    color: blue
}
#navlist{
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 1.5rem;
}
#navlist a{
    color: black;
    text-decoration: none;

}
h1{
    font-size: 3rem;
    margin-bottom: 1.5rem;
}
.section1 .container{
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 4rem;
}
.section1content{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.mainbutton{
    display: inline-block;
    background-color: black;
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    margin-top: 2rem;
}